{% load static %}



<!DOCTYPE html>
<html>
<head>
<!-- adsense google -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9749787341446771",
    enable_page_level_ads: true
  });
</script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Elysée 2017</title>
     
  <meta name="keywords" content="élections présidentielles 2017 , Marine Le Pen, Emmanuel Macron, simulations, résultats, deuxième tour, second tour, France">
    <meta name="author" content="Nicolas Urai, Théophile Vast">
  <!-- Meta og -->
  {% block facebook %}
  <meta name="description" content="Simuler le résultat des élections en fonction du choix des partisans des candidats du premier tour!">
  <meta property="og:title" content="Simulateur présidentielles 2017" />
  <meta property="og:type" content="website.politic" />
  <meta property="og:url" content="www.simulateur-presidentielles-2017.fr">
  <meta property="og:image" content="http://img1.closermag.fr/var/closermag/storage/images/media/images-des-contenus/actu-people/politique/20160422/l-elysee-en-avril-20162/5179186-1-fre-FR/L-Elysee-en-avril-2016_exact1024x768_l.jpg" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
    {% endblock %}

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href={% static "simulateurelections2017/min/plugin-min.css" %} type="text/css" rel="stylesheet">
    <link href={% static "simulateurelections2017/min/custom-min.css" %} type="text/css" rel="stylesheet" >
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" type="text/css" rel="stylesheet" >
    <link href={% static "simulateurelections2017/css/style.css" %} type="text/css" rel="stylesheet" >
      <script src={% static "simulateurelections2017/js/isNone.js" %} type="text/javascript" src="">
     
 
</script>
</head>
<body id="top" class="scrollspy">

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href={% url "accueil" %} id="logo-container" class="brand-logo">Elysée 2017</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#lateur">Simulateur</a></li>
                        <li><a href="#modal1">A propos</a></li>  
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                     <li><a href="#portfolio">Simulateur</a></li>
                     <li><a href="#work">A propos</a></li>
                 </ul>
                 <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
             </div>
         </div>
     </nav>
 </div>

 <!-- Modal Structure -->
 <div id="modal1" class="modal">
  <div class="modal-content">
   <h2 class="center header text_h2">A propos</h2>
   <h5 class=" center header text_h2">Les créateurs de ce site rappelent que la décision d'un vote reste personnelle, et que cette simulation n'a aucun but autre que récréatif. <br>
    La simulation se base sur les données du fichier Excel téléchargeable ci-dessous.<br>
    Source du résultats du premier tour: <a href="http://elections.interieur.gouv.fr/presidentielle-2017/">Ministère de l'intérieur</a></h5>
    <div class="center container">
      <a href={% static "simulateurelections2017/donnees/Simulateur_resultat_2emetour_Presidentielles2017_LIBRE.xlsx" %} id="download-button" class="center btn-large waves-effect waves-light #ff5252 accent-2 accent-3  blue-grey darken-4">Télécharger le fichier Excel</a>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">revenir au site</a>
  </div>
</div>


{% block intro %}
 <!--Hero-->
 <div class="section no-pad-bot" id="index-banner">
    <div class="container center">
        <h1 class="text_h center header cd-headline letters type">
            <span>Elysée 2017</span> 
            <span class="cd-words-wrapper waiting">
                <br>
                <b class="is-visible">Macron</b>
                <b>Le Pen</b>
                <b>À vous de deviner !</b>
            </span>
        </h1>
        <i class="white-text animated bounce infinite fa fa-chevron-down fa-4" aria-hidden="true"></i>
    </div>
    
</div>


<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  id="lateur" class="col s12 center">
                <h2 class="center header text_h2">Bienvenue sur le simulateur de résultat du second tour des <span class="span_h2">présidentielles</span>.</h2> 
                <h4 class="center header text_h2">Nous vous proposons d'essayer de deviner ce que feront les partisans de chaque candidat du 1er tour.</h4>
                <h5 class="center header text_h2"> Les valeurs proposées par défaut pour les candidats ayant obtenu un score supérieur à 4% au premier sont tirés du <a href="https://www.lesechos.fr/elections/presidentielle-2017/0211739192332-sondage-le-suivi-quotidien-de-la-presidentielle-2062937.php">sondage du site Les Echos à la date du 28/04/17.</a> </h5>
                <a id="simu" onclick="toggleDisplay()" class="center btn-large waves-effect waves-light #ff5252 accent-2 accent-3  blue-grey darken-4"><i  class="material-icons left">input</i>C'est parti! </a>
                 <!-- Go to www.addthis.com/dashboard to customize your tools --><p> 
<div class="addthis_inline_share_toolbox"></div></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<div >
    {% block content %}

    {% endblock %}
</div>

<!--  <h2 class="center header text_h2">A propos</h2>
       <h5 class=" center header text_h2">Les créateurs de ce site rappelent que la décision d'un vote reste personnelle, et que cette simulation n'a aucun but autre que récréatif. <br>
La simulation se base sur les données du fichier Excel téléchargeable ci-dessous.<br>
Source : <a href="http://elections.interieur.gouv.fr/presidentielle-2017/">Ministère de l'intérieur</a></h5> -->  


<div class="parallax-container center">
    <div class="parallax">  <div class="row center ">

 
              
            </div>
            <!-- <a  href="/simulateurelections2017/donnees/Simulateur_resultat_2emetour_Presidentielles2017_LIBRE.xlsx"> -->
          <img src="http://img1.closermag.fr/var/closermag/storage/images/media/images-des-contenus/actu-people/politique/20160422/l-elysee-en-avril-20162/5179186-1-fre-FR/L-Elysee-en-avril-2016_exact1024x768_l.jpg"></div>
</div>



      

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
    <div class="footer-copyright default_color">
        <div class="container">
            Conçu par <a href="https://fr.linkedin.com/in/nicolasurai">Nicolas Urai</a> & <a href="http://theophilevast.fr" >Theo</a>
        </div>
    </div>
</footer>

<!--  -->


<!--  Scripts-->
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src={% static "simulateurelections2017/js/jquery-2.1.1.min.js" %}></script>

  
  <script type="text/javascript" src={% static "simulateurelections2017/min/plugin-min.js" %}></script> 
  <script type="text/javascript" src={% static "simulateurelections2017/min/custom-min.js" %}></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59063965c192f396"></script>

</body>
</html>
