{% extends "simulateurelections2017/base.html" %}
{% load static %}
{% block facebook %}<!--
{% if pv_mac > pv_lp %}
<meta property="og:url"                content="http://www.simulateur-presidentielles-2017.fr" />
<meta property="og:title"              content="Emmanuel Macron obtient {{pv_mac}}% au second tour!" />
<meta property="og:description"        content="...et Marine Le Pen {{pv_lp}}% selon ma simulation! Et vous?" />
<meta property="og:image"              content="https://start.lesechos.fr/images/2017/02/24/7481_1487944283_macron-programme-economies_970x545p.jpg" /> 

 <meta property="og:title" content="Emmanuel Macron obtient {{pv_mac}}% au second tour!" />
<meta property="og:description" content="...et Marine Le Pen {{pv_lp}}% selon ma simulation! Et vous?" />
  <meta property="og:url" content="www.simulateur-presidentielles-2017.fr">
  <meta property="og:image" content="https://start.lesechos.fr/images/2017/02/24/7481_1487944283_macron-programme-economies_970x545p.jpg" />
 <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" /> 
{% endif %}
{% if pv_mac < pv_lp %}
<meta property="og:url"                content="http://www.simulateur-presidentielles-2017.fr" />
<meta property="og:title"              content="Marine Le Pen obtient {{pv_lp}}% au second tour!" />
<meta property="og:description"        content="...et Emmanuel Macron {{pv_mac}}% selon ma simulation! Et vous?" />
<meta property="og:image"              content="https://start.lesechos.fr/images/2017/02/13/7329_1486983091_marine-le-pen.jpg" /> 

<meta property="og:title" content="Marine Le Pen obtient {{pv_lp}}% au second tour!" />
<meta property="og:description" content="...et Emmanuel Macron {{pv_mac}}% selon ma simulation! Et vous?" />
  <meta property="og:url" content="www.simulateur-presidentielles-2017.fr">
  <meta property="og:image" content="https://start.lesechos.fr/images/2017/02/13/7329_1486983091_marine-le-pen.jpg" />
 <meta property="og:image:type" content="image/jpg" /> 
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" /> 
{% endif %} -->
{% endblock %} 
{% block intro %}
{% endblock %}

{% block content %}
<header>
<!--         <div class="container center" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
	               
	                    <div class="intro-text">
	                        <h1 class="center header text_h2 base name">élections présidentielles 2017</h1>
	                        <hr class="star-light">
	                        <span class="skills">Simulateur du 2nd tour selon les résultats du 1er tour</span>
	                    </div>
                </div>
            </div>
        </div> -->
    </header>
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="center header text_h2">Résultats de la simulation</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center"> 
                    
                    <!-- EM -->
                    <div id="em" class="container  foo zoomIn animate">
                        <div class="row z-depth-4">
                            <div class="input-field col s6">
                                
                                <img class="img-circle" width="100%" src="https://www.buzzbeed.com/wp-content/uploads/2017/02/macron.jpg">

                                <br>
                            </div>
                            <!-- <div class="row col s6"><img src={% static "simulateurelections2017/img/project5.png" %}></div> -->


                            <div class="input-field col s6">
                            {% if envoi %}Il manque des données !{% endif %}
                                <form action="{% url "accueil" %}" method="post">
                                    {% csrf_token %}
                        <!--     {% csrf_token %}
                        {{ form.as_p }} -->
                        <h4>Emmanuel Macron obtient <span class="span_h2">{{pv_mac}}%</span> des voix</h4>
                        <p class="range-field">
                           <ul>
                               <li>Score au premier tour : 24,01%</li>
                               <li><a href="https://en-marche.fr">En Marche</a> </li>
                               <li></li>
                           </ul>
                           
                       </form></div>
                   </div>
               </div>
               

           </div>
           <div class="row">
            <div class="col-lg-6 text-center"> 
                
                <!-- EM -->
                <div id="em" class="container  foo zoomIn animate">
                    <div class="row z-depth-4">
                        <div class="input-field col s6">
                            
                          
                            <img class="img-circle" width="100%" src="http://www.voxe.org/wp-content/uploads/2017/03/Marine-le-pen-fiche-candidat.jpeg">

                            <br>
                        </div>
                        


                        <div class="input-field col s6">
                            <form action="{% url "resultats" %}" method="post">

                              <h4>Marine Le Pen obtient <span class="span_h2">{{pv_lp}}%</span> des voix</h4>
                              <ul>
                                <li>Score au premier tour : 21,30%</li>
                                <li><a href="frontnational.com">Front National</a> </li>
                                <li></li>
                            </ul>                    
                        </form></div>
                    </div>
                </div></div>
            </div>
        </div>
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="container center"> 
    <h4> Partagez ces résultats avec votre entourage </h4>
    {% if pv_mac > pv_lp %}
    <div class="addthis_inline_share_toolbox" data-url="www.simulateur-presidentielles-2017.fr" data-description="...et Marine Le Pen {{pv_lp}}% avec un taux d'abstention de {{pv_abs}}% selon ma simulation! Et vous?" data-title="Emmanuel Macron obtient {{pv_mac}}% au second tour!" data-media="https://start.lesechos.fr/images/2017/02/24/7481_1487944283_macron-programme-economies_970x545p.jpg"></div>

{% endif %}
{% if pv_mac < pv_lp %}
<div class="addthis_inline_share_toolbox" data-url="www.simulateur-presidentielles-2017.fr" data-description="...et Emmanuel Macron {{pv_mac}}%, avec un taux d'abstention de {{pv_abs}}% selon ma simulation! Et vous?" data-title="Marine Le Pen obtient {{pv_lp}}% au second tour!" data-media="https://start.lesechos.fr/images/2017/02/13/7329_1486983091_marine-le-pen.jpg"></div>
{% endif %}

        </div>
        <div class="container">
            <H4 class="center header text_h2">L'abstention au second tour s'élève à <span class="span_h2">{{pv_abs}}%</span>
            </H4>
            <H5 class="center header text_h2">Au premier tour, elle s'élevait à <span class="span_h2">22,23%</span></H5>

            
        </div>
        <div class="row center ">
          <a  href={% url "accueil" %} class="btn-large waves-effect waves-light #ff5252 accent-2 accent-3  blue-grey darken-4">Refaire une simulation</a>
      </div>
      <div class="container center">
      <script type="text/javascript">
  ( function() {
    if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
    var unit = {"calltype":"async[2]","publisher":"NicoAkQ","width":728,"height":90,"sid":"Chitika Default"};
    var placement_id = window.CHITIKA.units.length;
    window.CHITIKA.units.push(unit);
    document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
}());
</script>
<script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script></div>
  </section>
  {% endblock %}
